@using Blazored.Modal
@using Blazored.Modal.Services
@using SLibraryBlazor.Services
@using System.ComponentModel.DataAnnotations
@inject IBookService BookService

<EditForm Model="@this" OnValidSubmit="HandleReservation">
    <DataAnnotationsValidator />

    <div class="modal-header bg-success text-white">
        <h5 class="modal-title">Reserve: @BookTitle</h5>
        <button type="button" class="btn-close btn-close-white" @onclick="Cancel" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        <div class="mb-3">
            <label for="ClientName" class="form-label">Client Name</label>
            <InputText id="ClientName" @bind-Value="ClientName" class="form-control" />
            <ValidationMessage For="@(() => ClientName)" class="text-danger" />
        </div>
        <div class="mb-3">
            <label for="PhoneNo" class="form-label">Phone No.</label>
            <InputText id="PhoneNo" @bind-Value="PhoneNo" class="form-control" />
            <ValidationMessage For="@(() => PhoneNo)" class="text-danger" />
        </div>
        <div class="mb-3">
            <label for="Address" class="form-label">Address</label>
            <InputText id="Address" @bind-Value="Address" class="form-control" />
            <ValidationMessage For="@(() => Address)" class="text-danger" />
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
        <button type="submit" class="btn btn-success">Confirm Reservation</button>
    </div>
</EditForm>

@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;


    [Parameter]
    public string BookTitle { get; set; } = string.Empty;


    [Required(ErrorMessage = "Client Name is required")]
    public string ClientName { get; set; } = string.Empty;

    [Required(ErrorMessage = "Phone Number is required")]
    [Phone(ErrorMessage = "Must be a valid phone number")]
    public string PhoneNo { get; set; } = string.Empty;

    [Required(ErrorMessage = "Address is required")]
    public string Address { get; set; } = string.Empty;

    private async Task Cancel()
    {
        await BlazoredModal.CancelAsync();
    }

    private async Task HandleReservation()
    {
        await BookService.Reserve(BookTitle,ClientName,PhoneNo,Address);
        await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    }
}