@page "/reservationlist"
@using Shared;
@using SLibraryBlazor.Services;
@inject IReservationService ReservationService

<PageTitle>Reservations List</PageTitle>

<h2 class="text-center">Reservations List</h2>
<br />

<div>
     <table class="table table-striped table-hover text-center">
            <thead class="table-light border-bottom border-3">
            <tr>
                <th>Reserved By</th>
                <th>Client Name</th>
                <th>Book Title</th>
                <th>Reserve Date</th>
                <th>Release Date</th>
                <th>Reservation Period</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var res in reservations)
            {
                <tr>
                    <td>@res.ReservedBy</td>
                    <td>@res.ClientName</td>
                    <td>@res.BookTitle</td>
                    <td>@res.ReservedDate</td>
                    <td>
                        @if (res.ReleaseDate.HasValue)
                        {
                            @res.ReleaseDate
                        }
                        else
                        {
                            <button type="button" class="btn btn-link text-danger p-0 action-button" title="Release Book"
                                    data-action-type="Release"
                                    data-book-title="@res.BookTitle">
                                <i class="fas fa-arrow-alt-circle-up"></i> Release
                            </button>
                        }
                    </td>
                    <td>
                        @if (res.ReleaseDate.HasValue)
                        {
                            string days = @res.ReservationPeriod.Days > 0 ? $"{@res.ReservationPeriod.Days} dy" : "";
                            string hours = @res.ReservationPeriod.Hours > 0 ? $"{@res.ReservationPeriod.Hours} hr" : "";
                            string minutes = @res.ReservationPeriod.Minutes > 0 ? $"{@res.ReservationPeriod.Minutes} min" : "";

                            string Period = string.Join(", ", new[] { days, hours, minutes }.Where(s => !string.IsNullOrEmpty(s)));

                            if (string.IsNullOrEmpty(Period))
                            {
                                Period = $"{@res.ReservationPeriod.Seconds} sec";
                            }
                            <span class="text-dark">@Period</span>
                        }
                        else
                        {
                            <span class="badge bg-success">Ongoing</span>
                        }
                    </td>
                </tr>
            }
            </tbody>
      </table>
 
</div>

@code {
    private List<Reservationdto> reservations = new List<Reservationdto>();

    protected override async Task OnInitializedAsync()
    {
        reservations = await ReservationService.Read();
    }
}
