@* @using Blazored.Modal *@
@using Microsoft.AspNetCore.Components.Routing
@using SLibraryBlazor.Components.Layout

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SLibraryBlazor.styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="bootstrap-icons/font/bootstrap-icons.css" />
    @* <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" /> *@
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <app>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </Found>
            <NotFound>
                <p class="text-danger">Page not found</p>
            </NotFound>
        </Router>
    </app>

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>
</html>



@* 
@using Microsoft.AspNetCore.Components.Authorization
@namespace SLibraryBlazor.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Routing
@using SLibraryBlazor.Components.Layout


 <Router AppAssembly="@typeof(Program).Assembly">
     <Found Context="routeData">
         <AuthorizeRouteView RouteData="routeData" DefaultLayout="@typeof(MainLayout)"></AuthorizeRouteView>
     </Found>
     <NotFound>
         <CascadingAuthenticationState>
             <LayoutView Layout="@typeof(MainLayout)">
                 <h1>404 Error</h1>
                 <p>Sorry, there is nothing at this address</p>
             </LayoutView>
         </CascadingAuthenticationState>
     </NotFound>
 </Router> *@



@using Microsoft.AspNetCore.Components.Authorization
@* @namespace SLibraryBlazor.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Routing
@using SLibraryBlazor.Components.Layout

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="@typeof(MainLayout)"/>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="p-8 text-center bg-white shadow-xl rounded-xl">
                    <h1 class="text-4xl font-bold text-red-600">404 Error</h1>
                    <p class="mt-2 text-gray-700">Sorry, there is nothing at this address.</p>
                    <a href="/" class="mt-4 inline-block px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 transition duration-300">Go Home</a>
                </div>
            </LayoutView>
       </NotFound>
   </Router>
</CascadingAuthenticationState> *@