@page "/addbook"
@using Shared
@using Blazor2.Services
@inject IBookService bookService
@inject NavigationManager NavManager
@* @using Blazored.Modal
@using Blazored.Modal.Services
@inject IModalService Modal *@

<PageTitle>Add Book</PageTitle>
<h3 class="text-center">Add New Book</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger mt-3" role="alert">@ErrorMessage</div>
}

<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-4">

        <EditForm Model="@newBook" OnValidSubmit="@HandleValidSubmit" FormName="AddBookForm">
            <DataAnnotationsValidator />

            <div class="mb-3">
                <label for="Title" class="form-label">Title</label>
                <InputText id="Title" @bind-Value="newBook.Title" class="form-control" placeholder="Enter title" required />
                <ValidationMessage For="@(() => newBook.Title)" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Author" class="form-label">Author</label>
                <InputText id="Author" @bind-Value="newBook.Author" class="form-control" placeholder="Enter author" required />
                <ValidationMessage For="@(() => newBook.Author)" class="text-danger" />
            </div>

            <button type="submit" class="btn btn-primary">Add</button>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private Bookdto newBook { get; set; } = new Bookdto();
    private string? ErrorMessage;


    private async Task HandleValidSubmit()
    {
        ErrorMessage = null;

        await bookService.Create(newBook);
        NavManager.NavigateTo("/bookslist");
    }

    // private async Task HandleConfirmation()
    // {
    //     ErrorMessage = null;

    //     var parameters = new ModalParameters()
    //         .Add(nameof(ConfirmDialog.Message), $"Are you sure you want to Add the book: {newBook.Title}?")
    //         .Add(nameof(ConfirmDialog.Title), "Add Confirmation");

    //     var modalReference = Modal.Show<ConfirmDialog>("Confirmation", parameters);
    //     var modalResult = await modalReference.Result;

    //     if (!modalResult.Cancelled)
    //     {
    //         try
    //         {
    //             await bookService.Create(newBook);
    //             NavManager.NavigateTo("/bookslist");
    //         }
    //         catch (Exception ex)
    //         {
    //             ErrorMessage = $"Error adding book: {ex.Message}";
    //             StateHasChanged();
    //         }
    //     }
    // }
}